.MuiBox-root .active:not(.cart, .contact)::after {
  content: '';
  height: 2px;
  width: 25%;
  margin: 0 auto;
  background-color: #fff;
  position: absolute;
  bottom: 6px;
  left: 0;
  right: 0;
}
